@page "/CalcHistory"
@using Shared
@inject CalcHistoryService CalcHistoryService
@rendermode InteractiveServer
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
<link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />


<h3>CalcHistory</h3>



<MudGrid>
    <MudItem xs="12" sm="5">
        <MudPaper class="pa-4 mud-height-full">
            <MudList>

                <Virtualize Items="CalcHistoryService.GetAllEquations()">

                    <MudListItem>@context</MudListItem>
                </Virtualize>

            </MudList>
            <MudButton ButtonType="ButtonType.Button">Hejsan</MudButton>
            </MudPaper>
        </MudItem>
    </MudGrid>


    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    @code {

}